<div class="buttons has-addons">
  <button
    *ngFor="let requirement of requirements"
    [ngClass]="[
      'button has-tooltip-arrow',
      value === requirement.value ? 'is-selected ' + requirement.cssClass : '',
      requirement.value < 3 ? 'has-tooltip-left' : 'has-tooltip-right'
    ]"
    (click)="setValue(requirement.value)"
    [attr.data-tooltip]="
      buttonsDisabled
        ? 'won\'t gekozen bij portfolio type'
        : hasAdvancedUI
        ? requirement.tooltipAdvanced
        : requirement.tooltip
    "
    [disabled]="buttonsDisabled"
  >
    <span *ngIf="hasAdvancedUI">{{ requirement.buttonText }}</span>
    <fa-icon *ngIf="!hasAdvancedUI" [icon]="requirement.icon"></fa-icon>
  </button>
</div>
