<div class="pt-5 pb-3" id="wrapper">
  <ul class="steps has-content-centered has-gaps is-horizontal">
    <li class="steps-segment" [ngClass]="{ 'is-active': step === 1 }">
      <span class="steps-marker is-warning">1</span>
      <div class="steps-content">
        <a class="is-size-6 has-text-dark" routerLink="/auth/information"
          >Informatie vooraf</a
        >
      </div>
    </li>
    <li class="steps-segment" [ngClass]="{ 'is-active': step === 2 }">
      <span class="steps-marker is-info">2</span>
      <div class="steps-content">
        <a class="is-size-6 has-text-dark" routerLink="/auth/choices"
          >Keuzes maken</a
        >
      </div>
    </li>
    <li class="steps-segment" [ngClass]="{ 'is-active': step === 3 }">
      <span class="steps-marker is-primary">3</span>
      <div class="steps-content">
        <a class="is-size-6 has-text-dark" routerLink="/auth/requirements"
          >Set van eisen</a
        >
      </div>
    </li>
    <li class="steps-segment" [ngClass]="{ 'is-active': step === 4 }">
      <span class="steps-marker is-success">4</span>
      <div class="steps-content">
        <a class="is-size-6 has-text-dark" routerLink="/auth/overview"
          >Overzicht en rapport</a
        >
      </div>
    </li>
  </ul>
  <div id="logoutbtn" class="is-hidden-mobile">
    <button
      (click)="logout()"
      class="button is-rounded has-tooltip-arrow has-tooltip-left has-tooltip-multiline"
      data-tooltip="Sessie afsluiten. Let op! Gegevens zijn hierna niet meer beschikbaar en je gaat terug naar het beginscherm."
    >
      <span class="icon">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
      </span>
    </button>
  </div>
</div>
