<nav class="navbar is-fixed-bottom is-light">
  <div class="navbar-brand">
  <a class="navbar-item ml-5" href="https://www.poraad.nl/nieuws-en-achtergronden/innovatievragen-gezocht" target=_blank>
      <img src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/logos%20grijs-17.png?alt=media&token=b63697c6-0fbf-4124-a70c-2c1375032e15" alt="innovatievragen">
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown has-dropdown-up is-hoverable" *ngFor="let item of navBarItems">
        <div class="navbar-link" >
          <img [src]="item.image" [alt]="item.name">
        </div>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" [href]="item.link" target=_blank>
            <span class="icon mr-2">
              <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
            </span>
            Website van {{item.name}}
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <h6 class="title is-6">{{item.name}}</h6>
          </div>
          <div class="navbar-item" *ngFor="let paragraph of item.description">
            {{paragraph}}
          </div>
        </div>
      </div>
  </div>
  </div>
</nav>
