<nav class="navbar is-fixed-bottom is-light">
  <div class="navbar-brand">
  <a class="navbar-item ml-5" href="https://www.poraad.nl/nieuws-en-achtergronden/innovatievragen-gezocht" target=_blank>
      <img src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/PO-Raad%20Beeldmerk%20Innovatievragen.png?alt=media&token=10794731-0fe8-4dcd-9317-52f363d89e5f" alt="innovatievragen">
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
    <a class="navbar-item mr-5" href="https://levwn.nl/" target=_blank>
      <img src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/lev-wn%20grijs.png?alt=media&token=69015b47-1d7f-4fad-8d59-6a6337f07e6c" alt="Lev">
    </a>
    <a class="navbar-item mr-5" href="https://o21.nu" target=_blank>
      <img src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/o21_logo_witrond%20grijs.png?alt=media&token=f9678c49-958b-4356-99c5-d93876a2d185" alt="O21">
    </a>
    <a class="navbar-item mr-5" href="https://www.poraad.nl/" target=_blank>
      <img src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/PORaad%20grijs.png?alt=media&token=96bb748e-d517-44c0-836c-d0af9067233e" alt="PO Raad">
    </a>
    <a class="navbar-item mr-5" href="https://handihow.com" target=_blank>
      <img src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/Grayscale_65.png?alt=media&token=d28cd656-2213-42b2-9f1d-2deaef0dea6c" alt="HandiHow">
    </a>
  </div>
  </div>
</nav>
