<div class="buttons has-addons">
  <button
    class="button"
    [ngClass]="{ 'is-danger is-selected': value === compareValueWont }"
    (click)="setValue(compareValueWont)"
  >
    Niet
  </button>
  <button
    class="button"
    [ngClass]="{ 'is-primary is-selected': value === compareValueCould }"
    (click)="setValue(compareValueCould)"
  >
    Mag
  </button>
  <button
    class="button"
    [ngClass]="{ 'is-success is-selected': value === compareValueMust }"
    (click)="setValue(compareValueMust)"
  >
    Moet
  </button>
</div>
