<section class="section">
  <div class="container is-max-widescreen">
    <div class="columns">
      <div class="column is-9">
        <h6 class="title is-6">Aanvullende eisen</h6>
      </div>
      <div class="column">
        <h6 class="title is-6">{{userState?.hasAdvancedUI ? 'Classificatie' : 'Keuze'}}</h6>
      </div>
    </div>
    <div class="columns" *ngFor="let row of rows">
      <div class="column is-9">
        {{ row.title }}
      </div>
      <div class="column">
        <app-moscow-buttons
          [initialValue]="getValue(row.property)"
          [hasAdvancedUI]="userState?.hasAdvancedUI || false"
          (changedValue)="setValue($event, row.property)"
        ></app-moscow-buttons>
      </div>
    </div>
    <div class="columns" *ngIf="step===8">
      <div class="column is-6">
        Zijn er devices op school waar het portfolio op gebruikt zou moeten worden? Vul in:
      </div>
      <div class="column">
        <input
          class="input"
          type="text"
          placeholder="Bijvoorbeeld iPads, laptops en chromebooks"
          [value]="getTextValue()"
          (change)="setTextValue($event)"
        />
      </div>
    </div>
  </div>
</section>
