<section class="section">
  <div class="container is-max-widescreen">
    <div class="columns">
      <div class="column is-3">
        <aside class="menu">
          <ul class="menu-list">
            <li *ngFor="let item of overviewItems; let i = index">
              <a
                (click)="setStep(i + 1)"
                [ngClass]="step === i + 1 ? 'is-active' : ''"
                >{{ item }}</a
              >
            </li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <h3 class="title is-5">{{overviewItems[step - 1]}}</h3>
        <app-portfolio-type-chart
          *ngIf="step === 1 && userState"
          [userState]="userState"
        ></app-portfolio-type-chart>
        <app-child-parent-contribution
          *ngIf="step === 2 && userState"
          [userState]="userState"
        ></app-child-parent-contribution>
        <app-additional-requirements
          *ngIf="step === 3 && userState"
          [userState]="userState"
        ></app-additional-requirements>
      </div>
    </div>
  </div>
</section>
