<section class="section">
  <div class="container is-max-widescreen">
    <div class="columns">
      <div class="column is-three-quarters content">
        <p>
          In deze derde stap maak je een set van eisen op. Door het beantwoorden
          van cruciale vragen over inhoud, vorm en functie kun je een gericht
          overzicht neerleggen bij aanbieders.
        </p>
        <p>
          Na het doorlopen van de vragen ontvang je hierover een rapport met de
          uitkomsten, die je kunt downloaden.
        </p>
        <blockquote class="is-italic">
          "Hiermee kun je doelgericht met je vraag naar het aanbod en een
          product ontvangen dat aan je wensen en verwachtingen voldoet."
        </blockquote>
        <p>
          We maken gebruik van de MoSCoW-methode waarmee de eisen aan het
          digitale portfolio worden ingedeeld. Ben je hier niet mee bekend? Klik
          dan op de knop 'MoSCoW-methode'
          <span class="is-hidden-mobile">aan de rechterkant</span> voor meer
          informatie.
        </p>
        <p>
          Als je klaar bent om te beginnen, klik dan op de knop 'Start'
          <span class="is-hidden-mobile">aan de rechterkant</span>.
        </p>
      </div>
      <div class="column">
        <button
          class="button is-info is-fullwidth is-light"
          (click)="toggleMoscowInfoModal()"
        >
          MoSCoW-methode
        </button>
        <button
          class="button is-large is-primary is-fullwidth mt-5"
          (click)="onStart()"
        >
          Start
        </button>
        <div class="image is-square mt-5">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/Square_notes.png?alt=media&token=e23b3942-6707-4ff2-ae50-4115f7f7e2d3"
          />
        </div>
      </div>
    </div>
  </div>
</section>
