<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters content">
        <p>
          In deze fase vertalen we de ontwerpeisen en gebruikerservaringen naar
          de aansluiting bij een passend product.
        </p>
        <p>
          Na deze dilemma's of cruciale vragen, kun je gericht eisen neerleggen
          bij aanbieders. Na het doorlopen van de vragen ontvang je een PDF met
          de uitkomsten.
        </p>
        <blockquote class="is-italic">
          "Wanneer deze voorwaarden met dit product kunnen worden gerealiseerd
          zijn wij als school bereid ervoor te betalen."
        </blockquote>
        <p>
          We maken gebruik van de MoSCoW-methode waarmee de eisen aan het
          digitale portfolio worden ingedeeld. Ben je hier niet mee bekend? Klik
          dan op de knop 'MoSCoW-methode'
          <span class="is-hidden-mobile">aan de rechterkant</span> voor meer
          informatie.
        </p>
        <p>
          Als je klaar bent om te beginnen, klik dan op de knop 'Start
          dilemma's' <span class="is-hidden-mobile">aan de rechterkant</span>.
        </p>
      </div>
      <div class="column">
        <button
          class="button is-info is-fullwidth is-light"
          (click)="toggleMoscowInfoModal()"
        >
          MoSCoW-methode
        </button>
        <button
          class="button is-large is-primary is-fullwidth mt-5"
          (click)="onStart()"
        >
          Start dilemma's
        </button>
        <div class="image mt-5">
          <img src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/notities.png?alt=media&token=797b6192-5c16-4145-8e06-1412c0af0a17">
        </div>
      </div>
    </div>
  </div>
</section>
<app-moscow-info-modal
  [showModal]="showMoscowInfoModal"
  (closedModal)="toggleMoscowInfoModal()"
></app-moscow-info-modal>
