<section class="section">
  <div class="container" id="restricted-size">
    <div class="columns is-hidden-mobile">
      <div class="column is-4">
        <h5 class="title is-6">Accent op fysiek of digitaal?</h5>
      </div>
      <div class="column">
        <div class="level">
          <div class="level-left">
            <span class="icon"><fa-icon [icon]="faArrowLeft"></fa-icon></span>
            Fysiek
          </div>
          <div class="level-right">
            Digitaal
            <span class="icon"><fa-icon [icon]="faArrowRight"></fa-icon></span>
          </div>
        </div>
      </div>
    </div>
    <div class="columns mb-0" *ngFor="let row of rows">
      <div class="column is-4">
        <div class="level is-mobile mt-3">
          <div class="level-left">
            <div class="level-item">
            <h5 [ngClass]="hasAgeGroup(row.property) ? 'title is-6' : ''">
              {{ row.title }}
            </h5></div>
            <div class="level-item" *ngIf="!hasAgeGroup(row.property)">
              n.v.t.
            </div>
          </div>
          <div class="level-item is-hidden-tablet">
            <span class="icon"><fa-icon [icon]="faArrowLeft"></fa-icon></span>
            Fysiek
          </div>
          <div class="level-item is-hidden-tablet">
            Digitaal
            <span class="icon"><fa-icon [icon]="faArrowRight"></fa-icon></span>
          </div>
        </div>
      </div>
      <div class="column">
        <input
          class="slider is-primary is-circle is-fullwidth"
          step="10"
          min="0"
          max="100"
          [value]="getValue(row.property)"
          type="range"
          (change)="setValue($event, row.property)"
          list="tickmarks"
          [id]="row.property"
          [disabled]="!hasAgeGroup(row.property)"
        />
        <datalist class="tickmarks">
          <option [value]="value" *ngFor="let value of ['0','10', '20', '30', '40', '50', '60', '70', '80', '90', '100']"></option>
        </datalist>
        <output class="tag" [for]="row.property">{{getValue(row.property)}}%</output>
      </div>
    </div>
  </div>
</section>

<app-component-step-buttons
  buttonColorClass="is-primary"
></app-component-step-buttons>
