<section [ngClass]="['hero is-small', color ? color : '']">
  <div class="hero-body">
    <div class="columns is-mobile">
      <div class="column is-11">
        <p class="title">
          {{ title }}
        </p>
      </div>
      <div class="column">
        <button
          (click)="logout()"
          [ngClass]="['button has-tooltip-arrow has-tooltip-left has-tooltip-multiline', color ? color : '']"
          data-tooltip="Sessie afsluiten. Let op! Gegevens zijn hierna niet meer beschikbaar en je gaat terug naar het beginscherm."
        >
          <span class="icon">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
