<div class="columns">
  <div class="column is-7 content">
    <p>Gefeliciteerd! Je hebt de digifoliowijzer afgerond.</p>
    <p>
      Je hebt een beeld kunnen ontwikkelen, van proces tot product. Van visie-
      en begripsvorming tot het maken van concrete keuzes. Op het juiste moment
      de juiste gereedschappen inzetten vraagt ook om een doordachte planning op
      je school.
    </p>
    <p>
      Hier vind je voor je gemak nogmaals de
      <a
        href="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/Marktverkenning.xlsx?alt=media&token=544ba2dd-6987-432d-a1fa-75e592dd6006"
        >download naar het marktoverzicht</a
      >. We hopen dat dit samen met de verdiepende handvatten, gespreksvormen en
      set van eisen die je hebt opgesteld zal leiden tot een doelgericht,
      ‘wijzer’ en gezamenlijk gesprek en keuze!
    </p>
  </div>
  <div class="column">
    <figure class="image is-square">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/pins_met%20logo's-01.png?alt=media&token=a6e7335c-244e-43d5-a25a-3d7dd8647378"
      />
    </figure>
  </div>
</div>
