<app-pdf-title title="Bijdrage van ouders en kind" *ngIf="pdfPreview"></app-pdf-title>

<div class="columns is-mobile">
  <div class="column">
    <h5 class="title is-6">Leeftijdscategorie</h5>
  </div>
  <div class="column" *ngFor="let column of columns">
    <h5 class="title is-6">{{ column.title }}</h5>
  </div>
</div>

<div class="columns is-mobile" *ngFor="let row of rows">
  <div class="column">
    <h5 [ngClass]="hasAgeGroup(row.property) ? 'title is-6' : ''">{{ row.title }}</h5>
  </div>
  <div class="column" *ngFor="let column of columns">
    <span *ngIf="!hasAgeGroup(row.property)">n.v.t.</span>
    <span class="icon mr-3" data-tooltip="docent" *ngIf="!pdfPreview && hasAgeGroup(row.property)">
      <fa-icon [icon]="faChalkboardTeacher"></fa-icon>
    </span>
    <span *ngIf="pdfPreview && hasAgeGroup(row.property)">Docent</span>
    <span
      class="icon mr-3"
      data-tooltip="kind"
      *ngIf="
        hasContribution('childContribution', column.property, row.property) && !pdfPreview
      "
    >
      <fa-icon [icon]="faChild"></fa-icon>
    </span>
    <span *ngIf="hasContribution('childContribution', column.property, row.property) && pdfPreview">, kind</span>
    <span
      class="icon mr-3"
      data-tooltip="ouders"
      *ngIf="
        hasContribution('parentContribution', column.property, row.property) && !pdfPreview
      "
    >
      <fa-icon [icon]="faFemale"></fa-icon>
      <fa-icon [icon]="faMale"></fa-icon>
    </span>
    <span *ngIf="hasContribution('parentContribution', column.property, row.property) && pdfPreview">, ouders</span>
  </div>
</div>
