<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container is-max-desktop" id="container">
      <h1 class="title is-1">
        <span class="has-text-white">digifolio</span
        ><span class="has-text-dark">wijzer</span>
      </h1>
      <h5 class="subtitle is-5">de weg naar het juiste portfolio</h5>
      <button class="button is-white is-medium" (click)="login()">
        Nu beginnen
      </button>
      <div id="backpack-image" class="is-hidden-mobile">
        <figure class="image is-1by1" id="image">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/rugtas.png?alt=media&token=7b3ed9ce-4534-4572-bc0c-cbd4c55dd359"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
