<section class="hero is-warning is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container is-max-desktop" id="container">
      <h1 class="title is-1">
        <span class="has-text-white">digifolio</span
        ><span class="has-text-dark">wijzer</span>
      </h1>
      <h5 class="subtitle is-4">stel de juiste vragen</h5>
      <button class="button is-white is-medium" (click)="login()">
        Start
      </button>
      <div id="backpack-image" class="is-hidden-mobile">
        <figure class="image is-1by1" id="image">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/digifoliowijzer.appspot.com/o/Square_rugtas.png?alt=media&token=9a066842-d69a-42ba-9ad9-8155f8fc2f75"
          />
        </figure>
      </div>
    </div>
  </div>
</section>

<div [ngClass]="['pageloader is-warning', isLoggingIn ? 'is-active' : '']"><span class="title">Even geduld aub...</span></div>
