<div class="buttons has-addons">
  <button
    *ngFor="let requirement of requirements"
    class="button has-tooltip-arrow"
    [ngClass]="[
      value === requirement.value ? 'is-selected ' + requirement.cssClass : '',
      requirement.value < 2 ? 'has-tooltip-left' : 'has-tooltip-right'
    ]"
    (click)="setValue(requirement.value)"
    [attr.data-tooltip]="buttonsDisabled ? 'W gekozen bij portfolio type' : requirement.tooltip"
    [disabled]="buttonsDisabled"
  >
    {{requirement.buttonText}}
  </button>
</div>
